.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.bd-placeholder-img {
  margin-top: 500px;
  display: grid;
  margin-left: 600px;
  margin-bottom: 10px;
}

.img-fluid {
  margin-top: 20px;
}

.input-form {
  border-radius: 7%;
}

.main-container {
  margin-top: 200px;
  background-color: slategray;
}

h2 {
  text-align: center;
  border-style: solid;
  border-color: black;
  color: black;
  background-color: white;
  font-family: Impact;
  width: 300px;
  margin-left: 120px;
}

.list-group-item {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 400px;
  margin-left: 500px;
}

.list-group-item {
  border-radius: 10%;
  margin: 5px;
  background-color: white;
  color: black;
  font-weight: bold;
}

#send-fact-btn {
  border-style: solid;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background-color: red;
  font-family: Impact;
  font-size: 2em;
  margin-left: 1500px;
  margin-top: -800px;
}

#displayed-names {
  margin-right: 300px;
  width: 400px;
  margin-left: 700px;
}

#friends-row {
  display: flex;
  justify-content: left;
  align-items: center;
}

#delete-btn {
  margin-bottom: 120px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
