.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.bd-placeholder-img {
  margin-top: 500px;
  display: grid;
  margin-left: 600px;
  margin-bottom: 10px;
}

.img-fluid {
  margin-top: 20px;
}

.main-container {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #6ff5ff;
}

#friends-row {
  display: flex;
  justify-content: left;
  align-items: center;
}

#send-fact-btn {
  margin-left: 1000px;
  margin-top: -300px;
  font-size: 3em;
}

h2 {
  margin-left: 110px;
}

.list-group-item {
  display: flex;
  justify-content: center;
}

#idk {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
