.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.col-lg-4 {
  margin-left: 200px;
  display: grid;
  text-align: center;
}

.bd-placeholder-img {
  margin-top: 500px;
  display: grid;
  margin-left: 600px;
  margin-bottom: 10px;
}

.img-fluid {
  margin-top: 50px;
}

.row {
  margin-top: -150px;
  margin-left: -150px;
  background-color: darkcyan;
  justify-content: center;
}

body {
  display: flex;
  background-color: darkcyan;
  justify-content: center;
}

h2 {
  margin-top: 300px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
