#FN-input {
  width: 500px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#LN-input {
  width: 500px;
  margin-bottom: 10px;
}

#EA-input {
  width: 500px;
}

#title {
  margin-top: 50px;
  color: white;
  text-align: center;
  border-style: double;
  border-color: white;
}

body {
  background-color: slategray;
}

.btn {
  color: white;
  text-align: center;
  border-style: double;
  border-color: white;
  font-weight: bold;
  margin-right: 70px;
}

.form-floating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
