.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.container {
  display: grid;
  justify-content: right;
  margin-right: -10px;
}

.header {
  background-color: black;
}

#logout-button {
  color: white;
  font-size: 1.3em;
  font-family: cursive;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
